.main_baner_outer_container {
  padding: 10px 50px;
}

.main_baner_inner_container {
  height: calc(100vh - 120px);
  width: 100%;
  position: relative;
}

.swiper_container {
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

.baner_top_bg {
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 88;
  position: absolute;
  border-radius: 16px;
  background-color: #00000067;
}