.main_service_section_outer_container {
  height: 100%;
  width: 100%;
  padding: 0 50px;
  margin-top: 100px;
}

.service_card_main_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.service_section_title_container {
  text-align: center;
  margin-bottom: 100px;
  font-family: "Inter", serif;
}

.service_section_title_container h3 {
  color: #FF3811;
  font-size: 1.2rem;
  font-weight: 700;
}

.service_section_title_container h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #151515;
  padding: 10px 0;
}

.service_section_title_container p {
  color: #737373;
  padding: 0 400px;
}